<div class="row">
  <div class="small-8 columns">
    <h1>
      <%= gravatar_for @user, :size => 70 %>
      <%= @user.nom %>
    </h1>
  </div>
  <div class="small-4 columns">
    <p><strong>Nom</strong> <%= @user.nom %></p>
    <p><strong>URL</strong> <%= link_to user_path(@user), @user %>
  </div>
</div>
